hmdb: &hmdb
  type: hmdb
  split: train_near_ood
  datapath: "/media/volume/HMDB51_video/video"  # actually file loacation in my PC; you should change it on your local machine

dataset:
  train:
    <<: *hmdb
  valid:
    <<: *hmdb

sampler:
  type: TrainingSampler

dataloader:
  num_workers: 12
  pin_memory: True
  prefetch_factor: 2
  persistent_workers: True

trainer:
  batch_size: 4
  valid_batch_size: 4
  max_epoch: 5
  max_step: 10000

model:
  type: autoencoder_kl_gan_model
  params:
    sub_model:
      autoencoder_kl:
        in_channels: 3           # HMDB is 3 channels
        out_channels: 3
        down_block_types: 
          - DownEncoderBlock2D
          - DownEncoderBlock2D
          - DownEncoderBlock2D
          - DownEncoderBlock2D
        up_block_types: 
          - UpDecoderBlock2D
          - UpDecoderBlock2D
          - UpDecoderBlock2D
          - UpDecoderBlock2D
        block_out_channels: [64, 128, 256, 512]
        layers_per_block: 2
        latent_channels: 8
        norm_num_groups: 32
      lpipsWithDisc:
        disc_start: 25001
        logvar_init: 0.0
        kl_weight: 0.000001
        pixelloss_weight: 1.0
        disc_num_layers: 3
        disc_in_channels: 3
        disc_factor: 1.0
        disc_weight: 0.5
        perceptual_weight: 0.0
    save_best: MSE
    use_ceph: False
    ceph_checkpoint_path: ""   # 若不使用 Ceph，请保持为空
    metrics_type: None         # 不使用额外指标模块
    data_type: fp32

    visualizer:
      visualizer_type: sevir_visualizer
      visualizer_step: 1000

    optimizer:
      autoencoder_kl:
        type: AdamW
        params:
          lr: 0.0001
          betas: [0.9, 0.999]
          weight_decay: 0.00001
      lpipsWithDisc:
        type: AdamW
        params:
          lr: 0.0001
          betas: [0.9, 0.999]
          weight_decay: 0.00001

    lr_scheduler:
      autoencoder_kl:
        by_step: True
        sched: cosine
        epochs: 5
        min_lr: 0.000001
        warmup_lr: 0.000001
        warmup_epochs: 0.1
        lr_noise:
        cooldown_epochs: 0
      lpipsWithDisc:
        by_step: True
        sched: cosine
        epochs: 5
        min_lr: 0.000001
        warmup_lr: 0.000001
        warmup_epochs: 0.1
        lr_noise:
        cooldown_epochs: 0

    extra_params:
      loss_type: MSELoss
      enabled_amp: False
      log_step: 20
